<div class="header-container">
  <div class="header-padding">
    <div class="logo-container">
      <img src="assets/images/cinema-logo.png" alt="cinema-logo">
      <h2>VIC</h2>
      <div>
        <hr class="border-top">
        <p>Virtual Information for Cinemas</p>
        <hr class="border-bottom">
      </div>
    </div>

    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
      <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
    </nav>
  </div>
</div>
