<div class="main-content">

  <div class="descriptive-section-first">
    <h2>Let the show begin!</h2>

    <hr class="break-line">

    <p>Explore the magic of cinema and immerse yourself in a world of captivating stories,
      breathtaking visuals, and unforgettable moments. We understand that choosing the perfect movie can be so hard at times
      and we're here to be your ultimate movie companion, guiding you through the cinematic landscape of the city.</p>

    <hr class="break-line-right">
  </div>

  <div class="descriptive-section-second">

    <div class="information-container">

      <hr class="break-line">

      <p>Browse through our curated selection of movies playing throughout the week in all the cinemas across town.
        From thrilling blockbusters to heartwarming dramas, there's something for every movie enthusiast.
        Our website is your gateway to the exciting world of cinema, where you can find showtimes, trailers,
        and all the information you need to plan your perfect movie night.
      </p>

      <p>Click the button below to explore the lineup, check showtimes, and secure your tickets.
        Don't miss out on the cinematic extravaganza awaiting you!</p>

      <hr class="break-line-right">

      <div class="button-container">
        <button routerLink="/schedule">Reserve Your Tickets Now!</button>
      </div>
    </div>

    <img src="assets/images/barbie-poster.jpg" alt="barbie-poster">

  </div>


</div>
