@import "../../../../assets/styles/colors";

h2{
  font-family: 'Roboto', sans-serif;
}

.statistics-container {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 80px;
}

.break-line{
  width: 20%;
  border: 2px solid $color_primary;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px; /* Adjust padding to make cells larger */
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
